@use 'partial'; /*partial fil hentes ind i style.scss som et modul. Filen er en samling af variabler, mixins og funktioner som kan genbruges*/



body{
    padding: 0;
    font-family: partial.$font;
    background-color: partial.$bg-color;
    margin: 0;
    box-sizing: border-box;

    /*Nesting - indsætter "alle" elementer som har direkte relation til øverste element af blokken.*/

    p{
        font-size: 16px;
        color: partial.$text-color;
        line-height: 1.5;
    }

    h1, h2, h3, h4, h5, h6{
            font-weight: 600;
            color: partial.$text-color;
        }


}

/*Skip to main content code snippet fra:https://www.a11y-collective.com/blog/skip-to-main-content/ */
 
.screen-reader-text {
    position: absolute; //Positions the link absolutely on the page, allowing it to be placed anywhere.
    left: -9999px; //Moves the link far off-screen to the left, making it invisible to sighted users.
    z-index: 999; //Sets a high z-index, ensuring that the link will be on top of other page elements if it becomes visible.
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0; //Sets the link's opacity to 0, making it fully transparent and invisible.
  }
  
  .screen-reader-text:focus {
    left: 50%; // When the link receives focus (e.g., when a keyboard user tabs to it), it is repositioned horizontally to the centre of the screen.
    transform: translateX(-50%); //This centres the link horizontally by moving it back to the left by 50% of its own width.
    opacity: 1; //The link's opacity is set to 1, making it fully visible.
  }

  img{
    max-width: 100%;
    height: auto;
  }


  .container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto); /* ved at bruge minmax sikre vi en minimumsstørrelse af vores gridelementer og ved auto sikre vi at boksen tilpasser sig efter indholdet*/
  }

  /*Navigation*/

  header{
    grid-column: 1/6; 
    border-bottom: 4px solid partial.$primary-color;
  }
  /* grid column start og slut på en linie i stedet for 2*/

  nav{
    height: 4em;
    padding: 1em;
    @include partial.flex($justify:space-between); 

     img{
        width: 70px;
     }

     #bars{
        display: none;
     }

     ul{
        @include partial.flex;
        list-style-type: none;
     }

     a{
        color: partial.$text-color;
        padding: 0.5em ;
        margin: 0.5em;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
     }

     a:hover, .active{
        color: partial.$primary-color;

     }

     


  }

  /*------------hero banner section------------*/



  .header-img{
   grid-column: 1/6;
   background-image: url('../img/computer.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 75vh;
   margin-bottom: 1em;
   border-bottom: 4px solid partial.$primary-color;
    
      .banner-tekst{
         position: absolute;
         left: 5%;
         top: 30%;

         h1{
            font-size: 3.5vw;
         }
         p{
            font-size: 2.2vw;
         }
         a{
            @include partial.btn;
             position: absolute;

             &:hover{
                background-color: partial.$sekundary-color;
                transition: 0.3s ease-in-out;
             } 
         }
      }
  }

  /*----------------forside main styling-------------*/

  main{
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
  }

  .cta-wrapper{
    grid-column: 1/7;

      h2{
         text-align: center;
         margin-bottom: 30px;
      }

      .cta-bokse{
         display: flex;
         justify-content: space-around;
      }
  }

  /*---------------CTA bokse--------------------*/

  .cta-1, .cta-2, .cta-3{
      @include partial.cta-box;
      
         img{
         margin: 0 auto;
         width: 60%;
         display: block;
         }

         p{
            margin-bottom: 2em;
         }

         a{
            @include partial.btn;
            display: block;

            &:hover{
                background-color: partial.$sekundary-color;
                transition: 0.3s ease-in-out;
             } 
        
         }
  }


  /*-------------tekst og billedsektion------------*/

.txt-img-section{

   grid-column: 1/7;
   display: grid;
   grid-template-columns: repeat(7, 1fr);

      .tekst{
         grid-column: 1/5;
         background-color: partial.$sekundary-color;
         padding: 2em 4em 4em 4em;


         p, h2{
            color: partial.$bg-color;

         }

         p:nth-of-type(4){
            margin-bottom: 3em;
         }

         h2{

            text-align: left;
         }

         .secondary-btn{
            @include partial.btn($bg-color: transparent);
            
            border: 2px solid #fff;

            &:hover{
                background-color: #fff;
                color: partial.$sekundary-color;
                transition: 0.3s ease-in-out;
             }
         }

      }

   
   }

   .billede{
      grid-column: 5/8;
      background-image: url('../img/presentation.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }  


   /*--------- kontaktformular------------*/

   .kontakt-bg-img{
      grid-column: 1/7;
      background: linear-gradient( rgba(142, 142, 142, 0.8), rgba(142,142,142, 0.8)), 
      url(../img/meeting.jpg);
      background-size: cover;
      
   }

   .kontaktform{
      border-radius: 5px;
      background-color: partial.$bg-color;
      padding: 1.3em;
      width: 50%;
      margin: 4em auto; /* centrere blockelementer*/


      h3{
         font-size: 25px;
         margin-bottom: 0;
         margin-left: 0.5em;
      }

      p{
         margin-left: 1em;
      }

      .section-form{
         display:flex;
      }
   }

input[type=text], input[type=mail], input[type=tel], select, textarea{
   width: 100%;
   font-size: 15px;
}

.visually-hidden{ /*Bootstrap defineret class som fjerner element fra skærm, men som stadig kan læses af skærmlæseren*/
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

 
 